body{
    background-image: linear-gradient(to bottom right, red, rgb(0, 170, 255));
}

p{
    font-family: "Space Mono", monospace;
    color: rgb(253, 183, 228);

}
h1{
    font-family: "Trirong", serif;
    font-size: 50px;
    text-align: center;
    color: rgb(165, 221, 255);
    text-shadow: 2px 2px 5px rgb(34, 7, 71);
}

.video{
    display: flex;
      justify-content: center;
      align-items: center;
}

.texto{
    
      align-items: center;
      text-align:justify;
      margin: auto;
      padding: 25px;
}